# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python_version: '3.8.0'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install uv
        
    - name: Deploy with UV

      run: |
        # build package
        apt install setuptools
        uv build

        rm /var/lib/dpkg/lock-frontend

        # deploy with uv
        uv publish --username ${{ secrets.USERNAME }} --password ${{ secrets.PASSWORD }}
